
.root{
    -fx-background-color:  #1A1A1D;
}

.table-view{
   -fx-background-color:  #1A1A1D;
}

.table-view:focused{
    -fx-background-color:  #4E4E50;
}


.table-view .column-header-background .label{
    -fx-background-color: #1A1A1D;
    -fx-text-fill: #c3073f;
}

.table-view .column-header {
    -fx-background-color: #1A1A1D;
}

.table-view .table-cell{
    -fx-text-fill: #c3073f;
}
.table-view .filler{
    -fx-background-color: #4E4E50;
}