.choice-box .label {
     -fx-text-fill: #c3073f;
}
.choice-box {
   -fx-background-color: #1A1A1D;
   -fx-border-color: #c3073f;
   -fx-border-radius: 5;
   -fx-focus-color:  #1A1A1D;
   -fx-faint-focus-color: #1A1A1D  ;
   -fx-control-inner-background: #1A1A1D;
   -fx-selection-bar: #4E4E50;
}