.button:hover {
    -fx-background-color: #383838!important;
    -fx-border-color: #383838!important;
    -fx-text-fill: #fff!important;
}

.button:pressed {
    -fx-scale-y: 0.95;
    -fx-scale-x: 0.95;
}
.button{
    -fx-text-fill: #c3073f;
    -fx-background-color: #1A1A1D;
    -fx-border-color: #950740;
    -fx-border-radius: 5;
}